.highlight {
    /* background-color: rgb(237, 237, 237); */
    text-decoration: 2px solid var(--link) underline;
  }

.blur {
    /* filter: blur(2.5px); */
    /* opacity: 0.2; */
}

.start button {
    /* background: var(--grad); */
    /* box-shadow: var(--shadow-upper); */
    background: none;
    border: none;
    color: var(--color);
    cursor: pointer;
    /* position: absolute; */
    bottom: 0;
    /* margin-top: 3.5rem; */
    /* background: #222; */
    /* width: 2rem;
    height: 2rem; */
    text-align: center;
    margin: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    float: left;
    /* margin-top: 10rem; */
    /* position: fixed; */
    /* margin: 0 auto; */
    /* justify-content: center; */
    /* float: right; */
    /* float: right; */
    /* left: 50%; */
    /* transform: translate(0%, 0%);  */
    /* position: absolute; */
    /* border-radius: 2rem; */
    /* float: left; */
}

.light:hover {
    text-decoration: 2px solid var(--link) underline;
    -webkit-text-decoration: 2px solid var(--link) underline ;
}

.start, .stop {
  cursor: pointer;
}

.stop {
    background: var(--grad);
    box-shadow: var(--shadow-upper);
    /* background: none; */
    border: none;
    /* background: #222; */
    /* width: 4rem;
    height: 4rem; */
    text-align: center;
    /* margin: 0; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10rem; */
    /* position: fixed; */
    margin: 0 auto;
    justify-content: center;
    float: left;
    /* float: right; */
    /* left: 50%; */
    /* transform: translate(0%, 0%);  */
    /* position: absolute; */
    border-radius: 50px;
    /* float: left; */
}

  .title {
    line-height: calc(1em + 0.725rem);
    font-size: 1.35rem;
}

.title {
  margin-top: 4rem;
}
  
  .format {
    /* word-break: break-all; */
  }

  .button:hover {
    cursor: pointer;
    animation: gradient-animation 5s ease-in-out infinite;
  }

  .button {
    box-shadow: 0 0 20px var(--grad), 0 0 30px var(--grad), 0 0 40px var(--grad), 0 0 50px var(--grad), 0 0 60px var(--grad), 0 0 70px var(--grad), 0 0 80px var(--grad), 0 0 90px var(--grad);
    background-image: var(--grad);
    box-shadow: var(--shadow-upper);
    width: 4rem;
    height: 4rem;
    text-align: center;
    bottom: 10%;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    justify-content: center;
    border-radius: 50px;
  }

  .buttonDynamic {
    transition: 'opacity 1s ease-in';
    box-shadow: 0 0 20px var(--grad), 0 0 30px var(--grad), 0 0 40px var(--grad), 0 0 50px var(--grad), 0 0 60px var(--grad), 0 0 70px var(--grad), 0 0 80px var(--grad), 0 0 90px var(--grad);
    background-image: var(--grad);
    box-shadow: var(--shadow-upper);
    animation: gradient-animation 5s ease-in-out infinite;
    width: 4rem;
    height: 4rem;
    text-align: center;
    bottom: 10%;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    justify-content: center;
    border-radius: 50px;
  }

  @keyframes gradient-animation {
    50% {
        background-position: 100% 50%;
        filter: saturate(0.575);
        filter: sepia(230);
        /* opacity: 0.5; */
    }
  }

  .wiki {
    border-left: 2px solid var(--index);
    padding-left: 1rem;
    font-style: italic;
    cursor: pointer;
  }

  .changeDiv {
    /* border: none; */
    /* background: none; */
    /* width: 100px; */
    /* height: 100px; */
    /* float: right; */
  }

  .wolf {
    border-left: 2px solid rgba(255, 180, 127, 0.8);
    padding-left: 1rem;
    font-style: italic;
  }

  .define span:nth-child(1) {
    opacity: 0.3;
    display: flex;
  }

  .define {
    border-left: 2px solid var(--link);
    /* word-break: break-all; */
    padding-left: 1rem;
    font-style: italic;
  }

  /* .define span:nth-child(1) {
    margin-right: 2rem;
    font-size: 1rem;
  } */

@media (min-width: 768px){
 .wrapper {
  display: flex;
  align-items: center; 
  align-content: center; 
  justify-content: center;
  /* position: fixed; */
 }
}

@media (max-width: 768px){
    .wrapper {
      display: flex;
      align-items: center; 
      align-content: center; 
      justify-content: center;
      /* position: fixed; */
      }
   }

  .nav h1 {
    font-size: 0.975rem;
  }

  .navindex:nth-child(2) {
    cursor: pointer;
    /* text-align: center; */
    /* color: aqua; */
  }

  .navindex:nth-child(1):hover {
    /* text-decoration: underline; */
  }

  .nav:hover {
    /* cursor: pointer; */
        /* padding: 0.75rem 1.5rem; */

    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    /* background-color: rgba(255, 255, 255, 0.381);
    color: rgba(0,0,0,.8); */
  }

  .navindex:nth-child(1):hover {
    color: var(--option); 
  }
  .navindex:nth-child(2):hover {
    color: var(--option); 
  }
  .navindex:nth-child(3):hover {
    color: var(--option); 
  }

  .navindex span {
    padding: 0.25rem;
  }

  .navindex {
    position: relative;
    bottom: -0.25rem;
  }

  .line {
    position: relative;
    display: inline;
    font-size: 2rem;
    margin: 0.25rem;
    font-weight: 100;
    opacity: 0.25;
    /* border-bottom: 1px solid hsla(0,0%,100%,.12);; */
    /* transform: rotate(90deg); */
    width: 1rem;
  }
  .nav {
    /* margin-bottom: 2rem; */
  }

  @media (max-width: 768px){
    .nav  {
      display: flex;
        /* float: left; */
        padding: 0.75rem 1.5rem;
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
        background-color: var(--nav); 
        border-radius: 1.05rem;
        font-size: 0.875rem;
        color: var(--title);
        font-weight: 600;
        position: fixed;
        /* top: 20; */
        margin-top: 0.5rem;
    }
      }

      @media (min-width: 768px){
        .nav  {
          display: flex;
          padding: 0.75rem 1.5rem;
          /* float: left; */
          /* margin: 0 2.5rem; */
          -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
          background-color: var(--nav); 
          border-radius: 1.05rem;
          /* color: var(--index); */
          /* color: #f0edff33; */
          color: var(--title);
          position: fixed;
          /* top: 30; */
          margin-top: 0.5rem;
          font-weight: 600;
      }
        }

      .artmove {
        /* margin-top: 3rem; */
      }
  
    @media screen and (max-width: 960px) {
      .nav {
      transition: 0.1s all ease;
    }
  }

  @media screen and (min-width: 960px) {
    .nav {
    transition: 0.1s all ease;
  }
}
